#------------------------------------------------------------------------------
# Fichiers temporaires d'editeurs
#------------------------------------------------------------------------------
.*.kate-swp
.*.swp
.*.swo
*~
*.bak

#------------------------------------------------------------------------------
# Python
#------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

#------------------------------------------------------------------------------
# Divers
#------------------------------------------------------------------------------
*.log
.DS_Store
Thumbs.db

#------------------------------------------------------------------------------
# Dossiers de builds ou exports
#------------------------------------------------------------------------------
dist/
build/
*.sh~
*.bak.*
